/* Globals */
@import './app.g.reset.styl'
@import './app.g.mixins.styl'
/* Elements */
@import './app.e.buttons.styl'
/* Collections */
/* Views */
/* Modules */

/* Commons */
.{prefix}-section 
  b-i('https://tympanus.net/Development/FolderPreviewIdeas/img/confetti.svg', 'i')
  h(100vh)
  // w()